# SERVER SETTINGS
APP_IP = '127.0.0.1'
APP_PORT = 8000

# STT SETTINGS:
API_KEY = 'yandex-stt-api-key-goes-here'
FS = 44100  # Частота дискретизации
DURATION = 0.5  # Длительность чанка в секундах
CHANNELS = 1  # Количество каналов
MAX_AUDIO_DURATION = 4 * 60  # Максимальная длительность сессии в секундах (Лимит в Яндекс STT: 5 минут)
MAX_DATA_SIZE = 9 * 1024 * 1024  # Макс. объем переданных данных в байтах в одной сессии (Лимит Яндекс STT - 10 МБ)
DEBUG = False

# OPENAI SETTINGS:
OPENAI_API_KEY = 'openai-api-key-goes-here'
MODEL = 'gpt-3.5-turbo'
# MODEL = 'gpt-4o'
SYSTEM_PROMPT = """
    Ты профессионал в области программирования, который даже на самый сложный вопрос
    всегда сможет ответить максимально кратко, но понятно и простыми словами."""